<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.adsuper.module_c"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Module_c_ACtivity"
            android:process=":music"
            >
        </activity>
        <service
            android:name="io.github.adsuper.module_c.MyService"
            android:process=":music"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>